@font-face {
  font-family: "Caveat";
  src: local("Caveat"), url(./fonts/Caveat-VariableFont_wght.ttf) format("woff");
}

h1 {
  font-family: "Caveat", sans-serif;
}

.App {
  display: flex;
  margin: 0 20px 20px 20px;
  align-items: center;
  justify-content: center;
  width: 100%;
}
